.avatar-post-type{
    cursor: pointer;
}

.avatar-post-type:hover{
    border: 1px solid #08ae9e;
}

.cropit-image-preview {
    /*background-color: #f8f8f8;
    background-size: cover;*/
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 200px;
    height: 200px;
    cursor: move;
    margin-left:13%;
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

input {
    display: block;
}

.avatar-post-type{
    border: 1px solid #dddddd;
}

.input-file-custom{
    position:relative;
    margin-top: 5%;
}
.cropit-image-input{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    /*-ms-filter:&quot;
    progid:DXImageTransform.Microsoft.Alpha(Opacity=0)&quot;*/
    opacity:0;
    background-color:transparent;
    color:transparent;
}

.has-error .avatar-post-type{
    border: 1px solid red;
}